/*-----------------------------------------------------------------*/
        /*--------------NAVBAR------------------------*/

/* ------------------------------------- */
/* ------------------------------------- */
/* ----Navbar---- */
/* Page Navigation menu */

.page__Navigation{
    width:100%;
    z-index: 100;
    padding-left:1rem;
    padding-right:1rem;
}
.nav--sticky{
    position:fixed;
    top:0;
    background-color: var(--color-white);
    opacity:0.95;
}
.form__nav--sticky{
    position: fixed;
    background-color: #f9f9f9;
}

/* Company Branding Navbar */
#CompanyImage{
    margin-left: 2rem;
    width:100px;
    height:100px;
    transform: scale(1.7);
}

@media screen and (max-width: 700px){
    #CompanyImage{
        width:70px;
        height:55px;
    }
    #CompanyTitle{
        font-size: 80%;
    }
}
/*  */
.brand__title{
    font-size: 1.6rem;
}
.brand__title__name{
    color:var(--color-tertiary)
}


.nav-link{
    height:58px;
    margin-left: 8px;
    margin-right: 8px;
    padding-bottom: 1rem;
    padding-top: 1rem;
}
.nav-link:hover{
    background-color: #eee;
    border-bottom: 3px solid var(--color-primary);
}


.NavLink{
    margin-left: 5px;
    margin-right: 8px;
    font-size: 1.1rem;
    color: #4b4b4b;
}
#food_requests_navbar, #add_food_requests_navbar, 
#organizations_navbar{
    color: #4b4b4b;
}

@media screen and (max-width: 1100px){
    .NavLink{
        font-size:1rem;
        margin-left: 0px;
        margin-right: 0px;

    }
}
@media screen and (max-width: 992px){
    .NavLink{
        display: inline-block;
        padding-left: 10px !important;
        padding-right: 10px !important;

    }
}
@media screen and (max-width:320px)
{
    .navbar-brand{
        margin-right: 0;
    }
    .brand--name{
        margin-left:0px;
        margin-right: 0px;
    }
}
.nav__contribute--btn:link,
.nav__contribute--btn:visited {
  padding: 0.5rem 1.3rem;
  border-radius: 2rem;
  background-color: var(--color-primary);
  color: #222;
}

.nav__contribute--btn:hover,
.nav__contribute--btn:active {
  color: inherit;
  background-color: var(--color-primary-darker);
  color: #fff;
}


.header__title{
    row-gap: 3rem;
    align-content: center;
    justify-content: center;
    padding-top:6rem;
    padding-left: 8rem;
    padding-right: 8rem;
    padding-bottom:10rem;
}
h1 {
    font-size: 3.8rem;
    line-height: 1.35;
  }
  
h4 {
    font-size: 1.8rem;
    font-weight: 500;
  }

  @media screen and (max-width: 400px)
  {
      h1{
          font-size: 3rem;
      }
  }

.highlight {
    position: relative;
    margin-left: 8px;
    margin-right: 8px;
  }
  
  .highlight::after {
    display: block;
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
    transform: scale(1.07, 1.05) skewX(-15deg);
    background-image: var(--gradient-primary);
  }

  
  
  /* buttons */

  .btn {
    display: inline-block;
    background-color: var(--color-primary);
    font-size: 1.6rem;
    font-family: inherit;
    font-weight: 500;
    border: none;
    padding: 1.25rem 4.5rem;
    border-radius: 10rem;
    cursor: pointer;
    transition: all 0.3s;
  }
  
  .btn:hover {
    background-color: var(--color-primary-darker);
  }
  
  .btn--text {
    display: inline-block;
    background: none;
    font-size: 1.2rem;
    font-family: inherit;
    font-weight: 500;
    color: var(--color-primary);
    border: none;
    border-bottom: 1px solid currentColor;
    padding-bottom: 2px;
    cursor: pointer;
    transition: all 0.3s;
  }
  button:focus{
      outline: none;
  }
  .header__btn__link{
      padding:10px;
  }
  .header__btn__link:hover{
    background-color: #eee;
  }
  .header__side__image{
      margin-top: 3rem;
      margin-left: -2rem;
      text-align: center;
  }
  .header__side__basketimage{
      width: 120%;
      height: auto;
      transform: translateX(-1rem);
  }

  @media screen and (max-width: 995px){
    .header__side__basketimage{
        transform: translateX(0rem);
        width: 95%;
    }
}

@media screen and (max-width: 600px){
    
    .header__title{
        padding-left: 5rem;
        padding-right: 5rem;
    }
}



@media screen and (max-width: 380px){
    .header__title{
        padding-left: 2rem;
        padding-right: 2rem;

    }
}

