.outermost__container{
    padding-top: 5rem;
}
.section__c{
    border-top: none;
}
.features__feature{
    text-align: center;
    padding: .4rem;
}
.features_icons{
    font-size: 38px;
    margin-bottom: 20px;
    transition: all 0.5s;
    color: #fff;
    width: 100px;
    height: 100px;
    padding: 30px 0;
    border-radius: 50%;
    /* background: linear-gradient(to right, #52d6d3 0%,#28a745  100%); */
    background: #39b385;
    box-shadow: 10px 10px 10px rgb(0 0 0 / 5%);
}
.features__image{
    width: 150px;
    height: 150px;
}
.features__heading{
    font-weight: 400;
}
ol.gradient__list {
    counter-reset: gradient-counter;
    list-style: none;
    margin: 1.75rem 0;
    padding-left: 1rem;
}
ol.gradient__list li{
    background: white;
    border-radius: 0 0.5rem 0.5rem 0.5rem;
    box-shadow: 0.25rem 0.25rem 0.6rem rgba(0,0,0,0.2), 0 0.5rem 1.125rem rgba(75,0,0,0.05);
    counter-increment: gradient-counter;
    margin-top: 1rem;
    margin-bottom: 2.3rem;
    min-height: 3rem;
    padding: 1rem 1rem 1rem 3rem;
    position: relative;
}
ol.gradient__list li::before, ol.gradient__list li::after{
    background: linear-gradient(135deg, #83e4e2 0%,#a2ed56 100%);
    border-radius: 1rem 1rem 0 1rem;
    content: '';
    height: 3rem;
    left: -1rem;
    overflow: hidden;
    position: absolute;
    top: -1rem;
    width: 3rem;
}
ol.gradient__list li::before{
    align-items: flex-end;
    box-shadow: 0.25rem 0.25rem 0.6rem rgba(0,0,0,0.05), 0 0.5rem 1.125rem rgba(75,0,0,0.05);
    content: counter(gradient-counter);
    color: #1d1f20;
    display: flex;
    font: 900 1.8em/1 'Montserrat';
    justify-content: flex-end;
    padding: 0.125em 0.25em;
    z-index: 1;
    font-weight: bold;
}

.styled__list__links{
    color: var(--color-primary-darker);
    font-weight: bold;
}

/*-----------------------------------*/
.card__section{
    margin-top: 5rem;
  }
  .contribute__card{
      margin-bottom:3rem !important;
      margin-top: 1rem;
      border:2px solid #dcdcdc;
      box-shadow: 0.25rem 0.25rem 0.6rem rgba(0,0,0,0.2), 0 0.5rem 1.125rem rgba(75,0,0,0.05);
      margin-right: 15px;
  }
  .card-title{
    color: var(--color-primary);
    font-weight:800;
    font-size: 1.5rem;
    font-weight:500;
  }
  .card-text{
    line-height: 1.8rem !important;
  }
  .contribute__card__img{
      /* max-height: 30rem; */
      /* max-height: 15rem; */
      border-bottom: 2px solid #eee;
  }
  .contribute__card__footer{
      text-align: center;
  }
  @media screen and (max-width: 767px){
    .card-deck{
        display: block !important;
        width: 70%;
        margin: auto;
    }
  }
  @media screen and (max-width: 410px){
    .card-deck{
      width:80%;
    }
  }
  @media screen and (max-width: 375px){
    .card-deck{
      width:100%;
    }
  }