.requests__content{
    margin: 3rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}
.request__card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
    margin:5px;
    flex: 0 0 30%;
    min-width: 15rem;
    margin-bottom: 3rem;
    height: fit-content;
}
.search__section{
    margin:3rem;
    margin-bottom: 5rem;
    padding: 3rem 5rem;
    border: 2px solid #efefef;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
}
.filters__heading{
    margin-bottom: 3rem;
}

.floating_input label{
    color: var(--color-primary);
    font-size: 110%;
}
.floating_input{
    margin-bottom: 3rem;
    padding: 5px;
    border-radius: 5px;
}


.request__card--btn{
    text-align: center;
}
.card__buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}
.card__button--bottom{
    padding: 5px 10px;
    border-radius: 10px;
    border: 2px solid #2dc751;
    color:#fff;
    margin-top:0.8rem;
}
.btn__edit{
    background-color:rgb(13, 150, 241);
    border-color: rgb(13, 150, 241);    
}
.btn__edit:focus{
    outline: none;
    background-color: #eee;
    color:rgb(13, 150, 241);
}

.btn__delete{
    background-color: red;
    border-color: red;
}
.btn__delete:focus{
    outline: none;
    background-color: #eee;
    color:red;
}
.request__card--address{
    font-size: 0.8rem;
    color:#666;
}
.request__card--icon{
    margin-right: 5px;
    color: var(--color-primary);
    font-size: 15px;
}

@media screen and (max-width: 482px){
    .request__card{
        flex:0 0 80%;
    }
    .search__section{
        padding: 3rem 2rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }
  }


.filters__input{
    display: inline-block;
}
.filter__button{
    padding:.5rem;
    min-width: 8rem;
    margin: 8px;
    color: #fff;
    
    transform:translate(10px, 8px);
}
.apply_filter_btn{
    background-color: #28a745;
    border:2px solid #28a720;
}
.apply_filter_btn:hover{
    background-color:#2dc751;
}

.reset_filter_btn{
    background-color: #ff0000;
    border: 2px solid #ff2211;
    margin-right: 1rem;
}
.reset_filter_btn:hover{
    background-color: #ff5d5d;
}

.card__content__heading{
    font-weight: 600;
}
.card__content--row{
    margin-top: .4rem;
    margin-bottom: .4rem;
}
.page_navigation_btn{
    padding:8px 1.2rem;
    border-radius: 10px;
    background-color: #007bff;
    color:#fff;
}
.page_navigation_btn:hover,.page_navigation_btn:focus{
    outline: none;
    background-color: #003cff;
}
.page_navigation_btn:disabled{
    opacity: 0;
}
.btn--next_page{
    float: right;

}
.btn--prev_page{
    float: left;
}
.navigation__btns{
    clear: both;
    margin-bottom: .8rem;
    height: 20px;
}
.delete__button--card{
    display: inline;
    color: red;
    float: right;
    font-size: 1.3rem;
    margin-right: .8rem;
}

.scroll_div_outer{
    display: flex;
    justify-content: space-around;
}