/*
COLORS: 
main navbar color: #007bff
*/

*{
    margin:0;
}
.NewSection{
    padding:2rem;
}
.NewSection .SectionHeading h2{
text-align: center;
font-size: 2.8rem;
margin-bottom: 3rem;
}
.SectionContent{
    margin:3rem auto; 
}


.section__content{
    font-size: 1.1rem;
    margin-top: 2rem;
    padding: 1rem;
}

/*-----------------------------------------------------------------*/

/*-----------------------------------------------------------------*/
/*-----------------------------------------------------------------*/
        /*--------------NAVBAR------------------------*/
.NavBar,.NavBar-scroll{
    background-color: rgb(49, 49, 49);
    width:100%;
    z-index: 10;
    border-bottom: 1px solid rgba(255,255,255,0.3);
    color: #fff !important;
    position: -webkit-sticky;
  position: sticky;
  top: 0 !important;
}
.NavBar{
background-color: transparent;
}
.NavBar-scroll{
    box-shadow: 0 5px rgb(71, 71, 71);
    background-color: rgb(49, 49, 49) !important;
}

.NavBar-scroll a{
    color:  #fff!important;
}

#CompanyImage{
    width:100px;
    height:80px;
}

@media screen and (max-width: 700px){
    #CompanyImage{
        width:80px;
        height:65px;
    }
    #CompanyTitle{
        font-size: 85%;
    }
}
@media screen and (max-width: 700px){
    #CompanyImage{
        width:70px;
        height:55px;
    }
    #CompanyTitle{
        font-size: 80%;
    }
}

.NavLink{
    padding: 5px;
    margin-left: 5px;
    margin-right: 10px;
    font-size: 107%;
}
.NavBar-scroll a:hover{
    border-bottom: 5px solid #0576aa;
    
}

/*
.NavLink:hover{
    border-bottom: 5px solid #0576aa;
}
*/







/*-----------------------------------------------------------------*/
/*-----------------------------------------------------------------*/
        /*--------------Academicians------------------------*/
.FilterForm,.IndividualPerson{
    padding: 1.4rem;
    /**/
    background-color: rgb(220, 220, 220);
    margin:2.5rem 5px;
    border-radius: 1rem;
}
.FilterForm{
    background-color: rgb(126, 255, 255);
}

.FilterFormTitle h4{
    font-size: 2rem;
    text-align: center;
}

.IndividualPersonTitle{
    margin-top: 5px;
}

.IndividualPersonButtonClass{
    vertical-align: middle;
    text-align: center;
}

.IndividualPersonButton{
    display: block;
    position: relative;
    top:50%;
}

/*-----------------------------------------------------------------*/
/*-----------------------------------------------------------------*/
        /*--------------Footer------------------------*/

.footerSection
{
    /*background-color: rgb(49, 49, 49);*/
    background-color: #f9f9f9;
    /*color:#bbb;*/
    color:#5e5e5e;
    padding:2rem;   
}
.footerSectionInner{
    margin-top:6rem;
}
.footerColumn{
    padding:8px auto;
    margin-bottom:1.5rem; 
}
.footerHeading{
    font-size: 1.4rem;
    margin-bottom: 10px;
    font-weight: 600;
}
.footerSection p{
    text-align: center;
    margin-top: 10px;
}
#address{
margin-left: 1rem;
padding-right:15px;
}
.contact_icons{
    font-size:1.3rem;
    margin-left:1rem;
    margin-right:5px;
}
.social_icons{
    font-size: 1.6rem;
    margin-left: 1rem;
    margin-bottom: 15px;
    margin-right: 5px;
}
.social_links{
    text-decoration: none !important;

}

.facebook{
    color:#3b5998 ;
}
.linkedIn{
    color: #0e76a8
}
.twitter{
    color:#00acee;
}
